@keyframes translate {
  0% {
    left: -10px;
  }
  100% {
    left: -14px;
  }
}
  
@keyframes change-scale {
  0% {
    transform: scale(120%);
  }
  
  100% {
    transform: scale(140%);
  }
}
  
@keyframes change-opacity {
  0% {
    opacity: 0;
  }
      
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}