:root.theme-dark {
    --bg-color: #000;
    --accent-color: #00CC14;
    --like-text-color: #00CC14;
    --bg-save-color: #00CC14;
    --weight-slim: 465;
    --weight-fat: 785;
    --gradient: repeating-linear-gradient(90deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, #007F0C 0%, #004306 100%);
}

:root.theme-light {
    --bg-color: #fff;
    --accent-color: #000;
    --like-text-color: #fff;
    --bg-save-color: #fff;
    --weight-slim: 400;
    --weight-fat: 700;
    --gradient: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(255 255 255 / 0) 2px 4px), repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(255 255 255 / 0) 2px 4px), repeating-linear-gradient(180deg, #E7E7E7 0%, #1A1A1A 100%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000;
        --accent-color: #00CC14;
        --like-text-color: #00CC14;
        --bg-save-color: #00CC14;
        --weight-slim: 465;
        --weight-fat: 785;
        --gradient: repeating-linear-gradient(90deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, #007F0C 0%, #004306 100%);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #fff;
        --accent-color: #000;
        --like-text-color: #fff;
        --bg-save-color: #fff;
        --weight-slim: 400;
        --weight-fat: 700;
        --gradient: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(255 255 255 / 0) 2px 4px), repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(255 255 255 / 0) 2px 4px), repeating-linear-gradient(180deg, #E7E7E7 0%, #1A1A1A 100%);
    }
}