:root {
    --main-text: 'Inter';
    --accent-text: 'PressStart2P';
    --bg-color: #000;
    --accent-color: #00CC14;
    --like-text-color: #00CC14;
    --accent-save-color: #000;
    --bg-save-color: #00CC14;
    --weight-slim: 465;
    --weight-fat: 785;
    --gradient: repeating-linear-gradient(90deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, #007F0C 0%, #004306 100%);
    --color-contour: red;
    --color-sparks: red;
}